<div class="flex flex-col justify-start items-center gap-2">
    <h1>Edit profile</h1>

    <%= form_with model: @user, url: update_user_path(@user) do |form| %>
        <%= render partial: 'form', locals: { form: form }%>
    <% end %>
</div>
